<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="assets\placeholder.png">
          <ion-card-header>
            <ion-card-title>Event 1</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            This is an event
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="assets\placeholder.png">
          <ion-card-header>
            <ion-card-tittle>Event 2</ion-card-tittle>
          </ion-card-header>
          <ion-card-content>
            This is another event
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <p>tab 3</p>
      </ion-col>
      <ion-col>
        <p>tab 4</p>
      </ion-col>
    </ion-row>
    
    <ion-row>

    </ion-row>
  </ion-grid>
</ion-content>
